﻿@{
    ViewBag.Title = "FAQ";
}

<div id="main_div_faq">
    <div id="faq_page">
        <h1>@ViewBag.Title</h1>
        <h2>We are here to help you!</h2>
    </div>
    <div class="row" id="faq_page_questions">
        <div class="col-md-12" id="faq_search_div">
            <div class="form-inline" id="faq_textbox">
                @using (Html.BeginForm())
                {
                    @Html.TextBox("faq_search", null, new { @class = "form-control", style = "width: 800px;", placeholder = "Search for answers" })
                    <span><input type="submit" class="btn btn-primary" value="Search" /></span>
                }
            </div>
        </div>
    </div>
    <div class="row" id="row_faq">
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Using the Facility Finder</p>
                            @Html.ActionLink("Facility Questions", "FacilityFinder", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Facility Cleanliness</p>
                            @Html.ActionLink("Is the Facility Clean?", "Cleanliness", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Account Inqueries</p>
                            @Html.ActionLink("Account Questions", "Inqueries", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Discussion Page Questions</p>
                            @Html.ActionLink("Questions About Discussions", "Discussion", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Live Chat Assistance</p>
                            @Html.ActionLink("Live Chat Questions", "LiveChat", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="faq_card_size">
                <div class="card faq-page">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Future Services Offered</p>
                            @Html.ActionLink("Future Service Questios", "Future", "FAQ")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
