﻿#home_body {
    padding-bottom: 20px;
    background-image: url('/Content/Image/editnewsstory.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#about_body {
    background-color: honeydew;
}

#user_body {
    background-color: aliceblue;
}

.about_div {
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

#nav_bar {
    background-color: black;
}

#h1_home {
    color: firebrick;
    text-align: center;
    font-family: 'Tahoma', Times New Roman, sans-serif;
    font-weight: bold;
}

.jumbotron {
    background-color: gainsboro;
    opacity: 0.6;
}

.jumbo_font {
    font-family: 'Tahoma', Times New Roman, sans-serif;
    font-size: 1.25rem;
}
.marg {
    padding-right: 1rem;
    padding-left: 1rem;
}

.marg_1 {
    padding-right: 25rem;
}

.px-2 {
    padding-left: 20rem;
}

#jumbo_btn {
    padding-left: 29rem;
}

#start_discussion {
    height: 600px;
    width: 800px;
}

#form_col {
    height: 600px;
    width: 800px;
}

#user_page_card {
    height: 35rem;
    padding-top: 4rem;
    margin-top: 2rem;
    margin-left: 2rem;
}

#card_title {
    text-align: center;
    padding-bottom: 4rem;
}

#card_text {
    text-align: center;
    padding-bottom: 4rem;
}

#show_textbox {
    margin-left: 11rem;
}

#user_text_div {
    margin-top: 2rem;
}

#text_area {
    height: 400px;
    width: 600px;
    margin-left: 2rem;
}
#text_hide {
    margin-top: 2rem;
}

#user_submit_btn {
    margin-left: 18rem;
    margin-top: 3rem;
}
