﻿@model WhiskeyTangoFoxtrot.Models.Viewmodels.ForumViewModel

@{
    ViewBag.Title = "Details";
}
@{
    var ForumIDa = @Model.Forums.Select(a => a.ForumID).FirstOrDefault();
    var OPiD = @Model.Forums.Select(a => a.WTFUserID).FirstOrDefault();
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/CSS/Forum.css" />
</head>
<h2>@Model.Forums.Select(a => a.ForumName).FirstOrDefault() </h2>


<div>
    <h4>Poster: @Model.WTFUsers.Where(b => b.WTFUserID == OPiD).Select(a => a.Username).FirstOrDefault()</h4>

    <h3> @Model.Forums.Select(a => a.Message).FirstOrDefault() </h3>
</div>
<hr />

<div>

</div>

<div>

    <button class="replybutton" onclick="toggleMain(@Model.Forums.Select(a => a.ForumID).FirstOrDefault())">Reply</button>

    <div id="replyAreaMain @Model.Forums.Select(a => a.ForumID).FirstOrDefault()" style="display: none;">
        <textarea id="textAreaMain @Model.Forums.Select(a => a.ForumID).FirstOrDefault()" placeholder="type your response"></textarea>
        <button class="replybutton" onclick="replyToMain(@Model.Forums.Select(a => a.ForumID).FirstOrDefault())">submit</button>
    </div>
    <br />
    <br />




    @foreach (var item in Model.ForumPost.Where(a => a.ForumID == ForumIDa))
    {
        if (item.ReplyID == null)
        {
            <div class="forumPost" id="forumPost @item.ForumPostID">

                <h4 style="text-decoration:underline"> u/@item.WTFUser.Username </h4>

                <p> @item.PostMessage</p>

                        <span> <button class="replybutton" onclick="toggleReplies(@item.ForumPostID, @item.Replies)">See Replies</button> </span>
                    
    
                <span> <button class="replybutton" onclick="toggle(@item.ForumPostID)">Post</button> </span>

                <div id="replyArea @item.ForumPostID" style="display: none;">
                    <textarea id="textArea @item.ForumPostID" placeholder="type your response"></textarea>
                    <button class="replybutton" onclick="replyTo(@item.ForumPostID)">submit</button>
                </div>

            </div>
            <br />
            <div style="margin-left: 40px">

                @foreach (var reply in Model.ForumPost.Where(b => b.ReplyID == item.ForumPostID))
                {
                    <div class="forumPost">
                        <h4> @reply.WTFUser.Username </h4>
                        <p> @reply.PostMessage </p>

                        <button class="replybutton" onclick="toggle(@reply.ForumPostID)">Reply</button>

                        <div id="replyArea @reply.ForumPostID" style="display: none;">
                            <textarea id="textArea @reply.ForumPostID" placeholder="type your response"></textarea>
                            <button class="replybutton" onclick="replyTo(@reply.ForumPostID)">submit</button>
                        </div>
                    </div>
                    <div style="margin-left: 40px">
                        @foreach (var seconds in Model.ForumPost.Where(b => b.ReplyID == reply.ForumPostID))
                        {
                            <div class="forumPost">
                                <h4> @seconds.WTFUser.Username </h4>
                                <p> @seconds.PostMessage </p>

                                <button class="replybutton" onclick="toggle(@seconds.ForumPostID)">Reply</button>

                                <div id="replyArea @seconds.ForumPostID" style="display: none;">
                                    <textarea id="textArea @seconds.ForumPostID" placeholder="type your response"></textarea>
                                    <button class="replybutton" onclick="replyTo(@seconds.ForumPostID)">submit</button>
                                </div>
                            </div>
                            <br />
                        }
                    </div>
                    <br />
                }
                


            </div>
            <hr />
        }
    }

</div>
<p>

    @Html.ActionLink("Edit", "Edit", new { id = ForumIDa }) |

    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts{
    <script type="text/javascript" src="~/Scripts/Forum.js"></script>
}
